.flex-container{
    display: flex;
    flex-direction: row;
    height: 150px;
    border: solid 2px red;
    justify-content: center;


}
/*
.flex-container > div {
    background-color:lightskyblue;
    width: 100px;
    margin: 1px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    */


.box1{
    
    height: 30px;
    background-color: lightskyblue;
    text-align: center;
    margin-bottom: 10px;
    
    
    
    
}

.box2{
    width: 400px;
    height: 30px;
    background-color: red;
    text-align: center;
    margin-bottom: 10px;
    align-self: center;
    align-self: flex-end;
    
}

.box3{
    width: 100%;
    height: 30px;
    background-color: green;
    text-align: center;
}